
h1{
    font-size: 40px;
    font-weight: normal;
    font-family:roboto;
    color:rgb(100,100,100);
    text-align: center;
}
h2{
    font-size: 40px;
    font-weight: normal;
    font-family:italic;
    color:rgb(150,150,180);
    text-align: center;
}
p{
    font-size:20px;
    font-family: italic;
    position: fixed;
    top: 0px;
    right:0px;
    left:0px;
    margin: 0px;
    text-align:center;
}
#img{
    width:100%;
    height:360px;
    object-fit:cover;
}