{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
<link rel="static" href="styles.css">
<h1>OPEN JOBS IN NIGERIA</h1>
<h2>About Open jobs</h2>
<div class="row" style="margin-bottom:16px">
  <p class="col-7">Looking for exciting job opportunities in Nigeria? Look no further! We have a range of openings across various sectors to match your skills and aspirations. Are you a tech enthusiast? A reputable software company is seeking talented developers proficient in Python and JavaScript to join their dynamic team in Lagos. If you have a passion for marketing, a leading e-commerce platform is hiring marketing executives to drive brand awareness and customer engagement strategies. Additionally, if you possess strong analytical skills and a background in finance, a multinational corporation is offering positions for financial analysts in Abuja, where you'll play a key role in optimizing financial performance and forecasting future trends. Don't miss out on these incredible opportunities to take your career to new heights!.<br>
Furthermore, if you're interested in the healthcare sector, a renowned hospital in Port Harcourt is recruiting experienced nurses and medical professionals to provide exceptional care to patients. For those with a flair for creativity, an advertising agency in Abuja is on the lookout for graphic designers and copywriters to craft compelling campaigns for their diverse clientele. Moreover, if you're passionate about education, a prestigious international school in Lagos is hiring qualified teachers across various subjects to inspire and educate the next generation of leaders. Whether you're an experienced professional or a fresh graduate, there's a job waiting for you in Nigeria that suits your skills and ambitions. Apply now and embark on an exciting career journey!</p>
  <img src="/static/tonny-huang.jpg" class="col-5" height="500px" width="620px">
</div>

<h2>Partner Companies</h2>
<div class="border-bottom-color:rgb(201, 201, 201) row" style="margin-buttom:16px; paing-bottm:8px">
  <ul class="col-4 styled-list">
      <h4 style="margin-bottom:6px; color:rgb(100,100,100)">{{ user['username'] }}</h4>
      <li><b>Industry:<b/>{{ user['industry'] }}</b></li>
      <li><b/>Location:  <b/>{{ user['address'] }}</b></li>
  </ul>
  <div>
    <img src="/static/pexels.jpg" class="col-5 rounded float-right" height="500px" width="800px">
  </Div>
</div>
<div style="text-align:center">
<a href="https://www.linkedin.com/in/michael-okoh-467461238?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-primary">Contact Us</a>
</div>
<p>Copy Right 2024</p>
{% endblock %}